/coverage
/demo/dist
/src
npm-debug.log*
/lib/test
**/*.test.js
/es/test
/docs
/.github
/.vscode
jest.transform.js 
umd_demo.html
yarn-error.log
tslint.json
nwb.config.js
CHANGELOG.md
.travis.yml
temporarily_disabled_index.d.ts